<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Facture</title>
    <link rel="stylesheet" href="../../public/assets/css/bootstrap.min.css">
    <style>
        /* Styles CSS pour la facture */
        /* ... */
        table {
            width: 100%;
        }
        td {
            text-align: center;
        }
        .address-section {
        width: 40%;
        float: right;
        }
        .header-section {
            text-align: right;
            margin-bottom: 100px;
        }

        .address-container {
            margin-left: auto;
            text-align: left;
        }
        .facture-section {
            margin-top: 250px
        }
    </style>
</head>
<body>
    <header class="header-section">
        <h1>Facture N°: {{ payment }}</h1>
        <h1>Commande N°: {{ commande }}</h1>
        <!-- Informations de l'entreprise -->
        {# <p>MONDOUDOU</p> #}
        <!-- ... -->
    </header>

    <main>
        <section class="address-section">
            <div class="address-container">
                <h2>Adresse de livraison</h2>
                <!-- Informations du client -->
                <p>{{ name }}</p>
                <p>
                    {{ address_rue }}<br>
                    {{ address_code_postal }}<br>
                    {{ address_city }}<br>
                    {{ address_country }}<br>
                </p>
                <!-- ... -->
            </div>
        </section>


        <section class="facture-section" style="width: 100%">
            <h2 style="text-align: center;">Détails de la facture</h2>
            <!-- Tableau des produits/services -->
            <table>
                <thead>
                    <tr>
                        <th>Produit</th>
                        <th>Prix unitaire</th>
                        <th>Quantité</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Boucle pour afficher les lignes de produits/services -->
                    {% for orderItem in orderItems %}
                    {# {{ dump(orderItem) }} #}
                    <tr>
                        <td style="text-align: left; padding-left: 10px;">{{ orderItem.product.name }}</td>
                        <td>{{ orderItem.product.price }} €</td>
                        <td>{{ orderItem.quantity }}</td>
                        <td>{{ orderItem.totalPrice }} €</td>
                    </tr>
                    {% endfor %}
                    <tr style="background-color: gray; color: white;">
                        <td style="text-align: left; padding-left: 10px;">Frais de port</td>
                        <td></td>
                        <td></td>
                        <td>{{ transporteur }} €</td>
                    </tr>
                    <tr style="background-color: gray; color: white;">
                        <td style="text-align: left; padding-left: 10px;">Total TTC</td>
                        <td></td>
                        <td></td>
                        <td>{{ totalPrice }} €</td>
                    </tr>
                </tbody>
            </table>

            <!-- Total de la facture -->
            {# <div id="frais_de_port">
                <p>Frais de port : {{ transporteur }} €</p>
            </div>
            <div id="total_price">
                <p>Total TTC : {{ totalPrice }} €</p>
            </div> #}
        </section>
    </main>

    {# <footer>
        <!-- Informations supplémentaires -->
        <p>Conditions de paiement</p>
        <p>Coordonnées bancaires</p>
        <!-- ... -->
    </footer> #}
</body>
</html>
